body {
    box-sizing: border-box;
    width: 100%;
    background: #eee;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1em;
    padding: 1em;
    margin: 0;
}

@media (min-width: 800px) {
    body {
	padding-left: 10em;
	padding-right: 10em;
    }
}

input {
    font-size: 0.75em;
    width: 4em;
}

th, select { font-size: 0.75em; }

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.candidates {
    width: 100%;
    display: flex;
    padding: 1em;
    flex-direction: column;
    box-sizing: border-box;
}

.voters {
    width: 100%;
    display: flex;
    padding: 1em;
    flex-direction: column;
    box-sizing: border-box;
}

@media (min-width: 1000px) {
    .candidates {
	width: 50%;
    }
    .voters {
	width: 50%;
    }
}

table { border-spacing: 0; }
th { border-bottom: 1px solid #eee; }
td { text-align: center; }

.votes-td {
    text-align: left;
    display: flex;
    flex-direction: row;
}

.votes-container {
    width: max-content;
}

.small-td {
    font-size: 50%;
}

/*
tr {
    text-align: center;
}

tr:nth-child(even) { background: #eee; }
tr:nth-child(odd) { background: #fff; }
*/
.vote {
    background: #e6007a;
    color: white;
    font-weight: bold;
    display: inline;
    margin: 0.3em;    
    padding: 3px;
    white-space: nowrap;
    font-size: 75%;
    border-radius: 4px;
    border: 1px solid black;
}

.vote button {
    background: #e6007a;
    color: white;
    font-weight: bold;
}

.vote button:hover {
    color: #e6007a;
    background: white;
}


.percent {
    margin-top: -56px;
}

.details-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-button {
}

.new-button {
    margin-top: 1em;
    padding: 0.5em;
}

button {
    font-size: 0.75em;
    border-radius: 1em;
    background: white;
    border: none;
}

button:hover {
    background: #e6007a;
    color: white;
}

